/*
Author & Facebook: Kasiti Panthanom
E-Mail: kasiti@cityhubs.net, comthaitip@gmail.com
*/
/* 
    Created on : 16 พ.ค. 2557, 6:32:25
    Author     : Super User
*/
@import url(http://fonts.googleapis.com/css?family=Francois+One);

.container_12 {
    background: #efefef;
}


.spacer {
    background-color: #104E8B;
    height: 0.3em;
    margin-bottom: 10px;
}

html {
    font-size: 62.5%
}

body {
    background: url(../images/gray_pad.png) repeat;
}

header img {
    float: left;
    margin: 20px;
}

img#poster {
    width: 400px;
    height: 280px;
}

header h1 {
    font-size: 2.5rem;
    font-family: 'Francois One', sans-serif;
    padding-top: 40px;
}

nav {
    background-color: #104E8B;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: block;
    margin: 0 10px;
}
 
nav ul li {
    float: left;
    margin: 0 1em;
    font: bold 1.7em 'Francois One';
}

nav ul li a {
    text-shadow: 2px 2px 2px #0000CD;
    color: #fff;
    text-decoration: none;
}

.headline section  {
    border: 5px solid #ccc;
    height: 280px;
    margin: 10px;
}

.headline section p  {
    margin: 10px;
    font-size: 1.5rem;
}

.headline img {
    margin: 10px;
    box-shadow: 3px 3px 3px #ccc;
}

h3 {
    color: #000080;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: #e5e5e6;
}

footer p {
    text-align: center;
    margin: 5px;
}